<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register Academic', '/users/sign_up/academic', class: 'btn btn-primary btn-lg' %>
        <%= link_to 'Register Business', '/users/sign_up/business', class: 'btn btn-primary  btn-lg' %>
      </p>
    </div>
  </div>
<% end %>
