#license {
  background: $snow;
  padding: 0 0 3em 0;

  h1 {
    color: $text-blue;
    font-size: 3em;
    margin: 0;
    padding: 2em 0 1em;
  }

  p {
    font-size: 13px;
    font-weight: normal;
  }

  .license-agreement {
    background-color: $white;
    border: 1px solid $border-shadow;
    max-height: 80vh;
    overflow: scroll;
    padding: 2em;
  }

  .license-user_input {
    height: 1rem !important;
    max-width: 30em !important;
    padding: 0 1rem !important;
  }
}
