// Place all the styles related to the Licenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.license-input {
    max-width: 30em !important;
    height: 1rem !important;
    padding: 0 1rem !important;

}
