
#login {
  margin-top: -45px;
  padding: 5rem 0 10% 0;

  h3 {
    font-size: 2rem;
    margin: 0;
  }

  .login-wrapper {
    float: none;
    margin: 0 auto;
    padding: 0;
  }

  .login-welcome {
    background-image: url("navy-splash.png");
    background-size: cover;
    padding: 2em;
  }

  .login-links a {
    color: $medium-blue;
    font-weight: 200;
  }

  .login-form {
    padding: 2em;
    display: flex;
    flex-flow: column wrap;

    form {
      display: flex;
      flex-flow: column nowrap;
      flex: 1 1 70%;
      justify-content: space-between;
    }

    label {
      font-size: 1rem;
      font-weight: 300;
    }

    .actions {
      margin: 2em 0 1em;
    }
  }
}
