
#login {
  background: linear-gradient(to left, $blue 0%, $text-blue 55%, #0a2e76 100%);
  margin-bottom: 0;

  .login-wrapper {
    border-radius: 15px;
    margin-bottom: 2em;
    margin-top: 2em;
    overflow: hidden;
    padding: 0;

    h3 {
      color: #065399;
      font-family: 'Play';
      font-size: 2rem;
      font-weight: 700;
      margin: 0 0 2em 0;
    }
  }


  .login-form {
    padding: 3em;
    display: flex;
    flex-flow: column wrap;

    form {
      display: flex;
      flex-flow: column nowrap;
      flex: 1 1 70%;
      justify-content: space-between;
    }

    label {
      font-size: 1rem;
      font-weight: 300;
    }

    input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    }

    .actions {
      align-items: center;
      display: flex;
      justify-content: space-between;

      .btn-flat {
        margin: 2em 0 1em;
        border-radius: 5em;
      }

      i {
        background-color: white;
        border: 1px solid $blue;
        color: $blue;
        height: 50px;
        line-height: 50px;
      }

      i:hover {
        color: $white;
        background-color: $blue;
        border-color: $sky;
      }

      a {
        background-color: #2196F3;
        color: $white;
        height: 35px;
        line-height: 35px;
      }

      a:hover {
        background-color: $blue;
        border-color: $sky;
      }
    }
  }
  .login-footer {
    margin-bottom: 4em;
    .login-links a {
      color: $sky;
      font-family: 'Play', sans-serif;

      &:hover {
        color: $snow;
      }
    }
  }
}
