
#login {
  background: linear-gradient(to left, $blue 0%, $text-blue 55%, #0a2e76 100%);
  margin-bottom: 0;

  .login-wrapper {
    border-radius: 15px;
    margin-bottom: 2em;
    margin-top: 2em;
    overflow: hidden;
    padding: 0;

    h3 {
      color: #0464ab;
      font-family: 'Play';
      font-size: 2rem;
      font-weight: 700;
      margin: 0 0 1em 0;
      text-transform: uppercase;
    }
  }


  .login-form {
    padding: 2em 3em 1.5em;
    display: flex;
    flex-flow: column wrap;

    form {
      display: flex;
      flex-flow: column nowrap;
      flex: 1 1 70%;
      justify-content: space-between;
    }

    label {
      font-size: 1rem;
      font-weight: 300;
    }

    input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    }

  }
}

.actions {
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  .btn-flat {
    border-radius: 5em;
    padding: 0 8%;
  }

  i {
    background-color: white;
    border: 1px solid $blue;
    color: $blue;
    height: 45px;
    line-height: 45px;
    margin: 2em 0 2em;
  }

  i:hover {
    color: $white;
    background-color: $blue;
    border-color: $sky;
  }

  div {
    display: flex;
    align-items: center;
    border-top: 1px solid $border-shadow;
    justify-content: space-between;
    width: 100%;

    p {
      color: $dark-blue;
      flex: 2 1 auto;
      font-size: 14px;
      font-weight: normal;
      margin: 2em 0 1em;
    }

    a {
      background-color: #26a69a;
      max-width: 40%;
      color: $white;
      height: 35px;
      line-height: 35px;
      margin: 2em 0 1em;
      text-align: center;
    }

    a:hover {
      background-color: #4db6ac;
      border-color: #80cbc4;
    }
  }
}

.sessions-footer {
  margin-bottom: 4em;
  .links a {
    color: $sky;
    font-family: 'Play', sans-serif;

    &:hover {
      color: $snow;
    }
  }
}
