// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search-container {
  background: linear-gradient(to left, $blue 0%, $text-blue 55%, #0a2e76 100%);
  padding: 5rem 0 10rem 0;

  h5 {
    color: $sky;
    font-family: 'Play', sans-serif;
  }
  form {
    border-radius: 5em;
    overflow: hidden;

    .input-field {
      margin: 0;

      input {
        border: none;
        margin: 0;
      }

      .material-icons {
        position: relative;
      }
    }
  }
}

#products {
  .products-container {
    background-color: $white;
    padding: 5% 10%;
    width: 100%;

    h2 {
      color: $black;
      font-size: 2em;
      font-weight: 400;
      margin: 1em 0 3em 0;
    }
  }

  .collapsible li {
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .card {
    border-radius: 10px;
    box-shadow: 0px 5px 26px -2px #dce5ec;
    display: flex;
    align-items: center;
    line-height: 1.5em;
    margin: 0;
    padding: 40px;

    a {
      border-radius: 6px;
      border: 1px solid #aad4ee;
      color: $blue;
      height: 50px;
      line-height: 50px;
      margin-left: 30px;
      text-align: center;
      text-transform: uppercase;
      max-width: 250px;
    }

    a:hover {
      background-color: $blue;
      color: white;
    }

    .card-content {
      display: flex;
      flex: 2 1 75%;
      flex-flow: column wrap;
      justify-content: space-between;
      padding: 0 1em 0 0;

      h3 {
        font-size: 1.7rem;
      }

      h4 {
        font-size: 1.3rem;
      }

      p {
        font-weight: 300;
        letter-spacing: .7px;
      }

    }
    a {
      flex: 1 1 25%;
      padding: 0;
    }
  }
}

@media #{$small-and-down} {
  #products {
    .card {
      flex-flow: column wrap;

      a {
        margin: 0;
        width: 100%;
      }

      .card-content {
        padding: 0 0 1.5em 0
      }
    }
  }
}
