#details-page {

  .summary-wrapper {
    .title {
      padding: 0;
      h2 {
        color: $text-blue;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      h3 {
        font-size: 1.8rem;
        margin: 0;
      }
    }

    .summary {
      padding: 0 10% 0 0.75rem;
      margin-bottom: 3em;
    }
  }

  .description {
    border-top: 1px solid $border-shadow;

    h4 {
      color: $text-blue;
      font-size: 0.8rem;
      font-weight: 700;
      letter-spacing: 1px;
      margin-top: -2em;
      text-transform: uppercase;
    }

    .detailed-description {
      padding: 0;
    }
  }


  .pricing-wrapper {
    background-color: $snow;
    border-top: 1px solid $border-shadow;

    .pricing {
      padding: 5% 0%;
      width: 80%;

      h2 {
        font-size: 3em;
        text-align: center;
        color: $text-blue;
      }

      .row {
        display: flex;
        justify-content: space-between;

        > div {
          flex: 1 1 30%;
          margin: 0 2%;
        }
      }
    }
    .card {
      h4 {
        color: white;
        font-size: 1.3rem;
        padding: 2rem;
      }
    }
    .card-content {
      padding: 0px 25px 10px;

      p {
        justify-content: center;
      }

      h3 {
        font-size: 2rem;
      }
    }

    .card-action {
      padding: 16px;

      a {
        background-color: $blue;
        font-size: 14px;
        margin: 0;
        transition: all .5s ease;
      }

      a:hover {
        background-color: lighten($blue, 10%);
      }
    }
  }
}
