#registration {
  background: linear-gradient(to left, $blue 0%, $text-blue 55%, #0a2e76 100%);
  margin-bottom: 0;

  .registration-wrapper {
    background-color: $white;
    border-radius: 15px;
    margin-bottom: 2em;
    margin-top: 2em;
    overflow: hidden;
    padding: 5%;

    h3 {
      margin: 0 0 10px 0;
      font-size: 2.5rem;
    }
  }
}
