#registration {
  background: linear-gradient(to left, $blue 0%, $text-blue 55%, #0a2e76 100%);
  margin-bottom: 0;

  .registration-wrapper {
    background-color: $white;
    border-radius: 15px;
    margin-bottom: 2em;
    margin-top: 2em;
    overflow: hidden;
    padding: 3%;

    h3 {
      color: $text-blue;
      font-family: 'Play', sans-serif;
      margin: 0 0 30px 0;
      font-size: 2.5rem;
    }

    .user-role {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
  }
}

.registration-footer {
  margin-bottom: 4em;
  .login-links a {
    color: $sky;
    font-family: 'Play', sans-serif;

    &:hover {
      color: $snow;
    }
  }
}
