$blue: #03a9f4;
$text-blue: #0277bd;
$medium-blue: #2A3F68;
$dark-blue: #172542;
$black: #2c2c2c;

$teal: #4db6ac;
$purple: #7986cb;

$white: #f9f9fb;
$snow: #f5f9fd;
$sky: #cbdff8;

$shadow: rgba(0,0,0,0.5);
$border-shadow: rgba(0,0,0,0.05);
