$light-blue: #24cad2;
$blue: #4b87d4;
$medium-blue: #2A3F68;
$dark-blue: #172542;
$rusted-red: #E55345;
$gold: #FCB958;
$black: #2c2c2c;

$white: #f9f9fb;
$snow: #f6f9fc;
$cloud: #f5f9fd;
$sky: #cbdff8;

$border-color: rgba(0,0,0,0.05);
